/*
 * @Author: lidongliang 
 * @Date: 2017-10-16 16:27:56 
 * @Last Modified by: lidongliang
 * @Last Modified time: 2017-10-24 18:20:21
 * 共通样式
 */
html, body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0 0;
  /* background: #fafafa; */
}

dd, dl, li, ol, ul {
  margin: 0;
  padding: 0;
}